page-home {
  ion-header{
    background-image: url('../assets/imgs/tool.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .4);
    border-radius: 0 0 5% 5%;
    min-height: 35vh;
    max-height: 35vh;
    .buttons-container{
      display:flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      button{
        background: transparent;
        box-decoration:none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: calc(5vh) calc(10vw - 10px);
        ion-icon{
          font-size: 2em;
          color: #fff;
        }
      }
    }
    .nav-info{
      display:flex;
      flex-flow: column;
      align-items:center;
      justify-center:center;
      h1{
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        color: tomato;
      }
      h3{
        font-size: 1.2em;
        margin-top: 3%;
        width: 80%;
        text-align:center;
        color: #fff;
      }
    }
  }
  ion-content{
    background-color: #ececec !important;
    .list-container{
      display: flex;
      align-items: center;
      justify-content: center;
      .list{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: #fff;
        .list-item{
          display: flex;
          padding: 24px;
          width: 100%;
          border-bottom: .5px solid #bcbcbc;
          &:last-child{
            border:none;
          }
          p{
            font-size: 1em;
            font-weight: bold;
            text-align:center;
            color: #0b0b0b;
            width: 100%;
          }
          img{
            height: 80px;
            margin-left: 15%;
            max-width: 80px;
            border-radius: 24px;
          }
        }
        .warning{
          font-size: 1.2em;
          padding: 3%;
          text-align:center;
        }
      }
    }

  }
}
